<div class="container my-4">
  <div class="row align-items-center">
    <!-- Cột ảnh -->
    <!-- <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
      <img src="/assets/images/ANHTAICMCU.png" class="img-fluid rounded shadow" style="max-width: 100%;" alt="Anh Tài CMC UNI" />
    </div> -->

    <!-- Cột nội dung -->
    <div class="col-12">
      <h3 class="fw-bold text-primary">“ANH TÀI” CMC UNI</h3>
      <p class="text-muted">
        Không chỉ xuất sắc trong công tác giảng dạy, đào tạo, quản lý và vận hành các hoạt động tại Nhà trường mà còn rất hài hước, trẻ trung và phong độ.
      </p>
      <p class="text-dark">
        Nhân ngày Quốc tế Nam giới, cùng bình chọn cho những “ANH TÀI” CMC UNI để các anh tỏa sáng trong ngày 
        <strong>11.11</strong> này.
      </p>
      <h5 class="mt-3 text-secondary">5 Hạng mục bình chọn</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Mr. Fashion Icon:</strong> Anh Tài Sành Điệu
        </li>
        <li class="list-group-item">
          <strong>Mr. Ginger Salt:</strong> Anh Tài Mứt Gừng
        </li>
        <li class="list-group-item">
          <strong>Mr. King of Memes:</strong> Anh Tài Hài Hước
        </li>
        <li class="list-group-item">
          <strong>Mr. Problem Solver:</strong> Anh Tài Chu Đáo
        </li>
        <li class="list-group-item">
          <strong>Mr. Tech Genius:</strong> Anh Tài Công Nghệ
        </li>
      </ul>
    </div>
  </div>
</div>

<p-tabView>
  <p-tabPanel header="Danh sách ứng viên">
    <!-- Candidates List Tab -->
    <div class="tab-pane fade show active" id="candidates" role="tabpanel" aria-labelledby="candidates-tab">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let item of candidates" class="col-12 col-md-6 col-lg-4">
            <app-candidate-card [candidate]="item" (vote)="reloadVoted()"></app-candidate-card>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Danh sách đã vote">
    <!-- Voted List Tab -->
    <div class="tab-pane fade show active" id="voted" role="tabpanel" aria-labelledby="voted-tab">
      <table class="table">
        <thead>
          <tr>
            <th>Họ và tên</th>
            <th>Danh hiệu</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let voted of candidateVoted">
            <td>{{ voted.candidateName }}</td>
            <td>{{ voted.typeName }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeVote(voted)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </p-tabPanel>
</p-tabView>
